@media screen and (max-width: 600px) {

    .header {
        padding: 10px 40px 40px 40px;
        width: 100%;
        text-align: center;
    }

    .body-container {
        display: flex;
    }

    .section{
        flex-direction: row;
    }

    .section .card {
        width: 48% !important;
        height: 168px;
        margin: 1% !important;
    }

    .section .card:nth-child(3){
        width: 100%;
    }

    .section .card:nth-child(7) {
        width: 100px;
        margin: 0;
    }


    .section .card:nth-child(8) {
        height: 170px;
        margin: 8px;
    }

    .card-page {
        padding: 10px;
    }

    .card-page .first-title {
        padding-bottom: 8px;
    }

    .card-page .first-title:hover {
        font-size: 10px;
    }

    .card-page p {
        font-size: 15px;
    }

    .card-page p:hover {
        letter-spacing: 0.4px;
    }

    .card-page .last-title {
        font-size: 10px;
    }

    .social-media-logos .social-media-logo {
        width: 40px;
        height: 40px;
        margin: 8px;
    }

    .social-media-logo .right-logo {
        padding-top: 11px;
    }

    .right-logo .fa-facebook-f {
        font-size: 30px;
    }

    .social-media-logo .center-logo {
        padding-top: 12px;
    }

    .center-logo .fa-twitter {
        font-size: 20px;
    }

    .social-media-logo .left-logo {
        padding: 12px 0 0 2px;
    }

    .left-logo .fa-google-plus-g {
        font-size: 30px;
    }

    .footer-container .text {
        margin: 38px 0 0 30px;
        font-size: 8px;

    }

}